[Desktop Entry]
Name=UKui System Monitor
Name[zh_CN]=系统监视器
Name[tr_TR]=UKui Sistem İzleyici
GenericName=UKui System Monitor
GenericName[zh_CN]=系统监视器
Comment=UKui System Monitor
Comment[zh_CN]=系统监视器
Comment[tr_TR]=UKui Sistem İzleyici
Keywords=guide; 
Exec=/usr/bin/ukui-system-monitor
Icon=ukui-system-monitor
Terminal=false
Type=Application
NoDisplay=false
Categories=System;Utility;
StartupNotify=false
