Package: ukui-system-monitor-dbgsym
Package-Type: ddeb
Source: ukui-system-monitor
Version: 0.1.0.0kord-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@list.ubuntu.net>
Installed-Size: 4100
Depends: ukui-system-monitor (= 0.1.0.0kord-1)
Section: debug
Priority: optional
Description: debug symbols for ukui-system-monitor
Build-Ids: 3f68aecb092f4430f8f9c47683b53c06475211c8
Original-Maintainer: Ubuntu Kylin Team <ubuntukylin-members@list.launch    pad.net>
